/Dataparser/bin/Release/d
/Dataparser/packages
/Dataparser/.vs
/Dataparser/obj
/server/station/Datalogging/bin/Debug
/server/station/Datalogging/obj
/server/station/Common/obj
/server/station/Common/bin/Debug
/server/station/Viewer/obj
/server/station/Viewer/bin/Debug
/server/station/packages
/server/station/.vs
/server/station/Datalogging/bin/Release/Google.Protobuf.xml
/server/station/Datalogging/bin/Release/Microsoft.Owin.Diagnostics.xml
/server/station/Datalogging/bin/Release/Microsoft.Owin.Host.HttpListener.xml
/server/station/Datalogging/bin/Release/Microsoft.Owin.Hosting.xml
/server/station/Datalogging/bin/Release/Microsoft.Owin.xml
/server/station/Datalogging/bin/Release/MySql.Data.xml
/server/station/Datalogging/bin/Release/Newtonsoft.Json.xml
/server/station/Datalogging/bin/Release/SolarStationServer.Common.dll.config
/server/station/Datalogging/bin/Release/SolarStationServer.Datalogging.exe.config
/server/station/Datalogging/bin/Release/System.Net.Http.Formatting.xml
/server/station/Datalogging/bin/Release/System.Web.Http.Owin.xml
/server/station/Datalogging/bin/Release/System.Web.Http.SelfHost.xml
/server/station/Datalogging/bin/Release/System.Web.Http.xml
